.brand {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

.description {
    color: #fff;
}

.icon {
    color: #74C0FC;
}

.social-icon {
    font-size: 15px;
}

.list-unstyled li {
    margin-bottom: 10px;
}
